openapi: 3.2.0
info:
  title: Actual Forecast Report Load API
  description: Get Actual Forecast report data for date range.
  version: v1
servers:
- url: https://apimgw.aeso.ca/public/actualforecast-api
- url: https://gateway-apim.aeso.ca/public/actualforecast-api
security:
- {}
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Load
paths:
  /load/albertaInternalLoad:
    get:
      operationId: getActualForecastReport
      summary: Fetch Actual Forecast data for a day or date range.
      description: Fetch Actual Forecast data for a day or date range
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActualForecastAILReport'
              examples:
                default:
                  value:
                    Actual Forecast Report:
                    - begin_datetime_utc: string
                      begin_datetime_mpt: string
                      alberta_internal_load: string
                      forecast_alberta_internal_load: string
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Invalid method
        '500':
          description: Internal server error
        '503':
          description: Service unavailable
      parameters:
      - name: startDate
        in: query
        required: true
        description: 'Any date between 2000-01-01 and current date. (format: yyyy-MM-dd).'
        schema:
          $ref: '#/components/schemas/LoadAlbertaInternalLoadGetRequest'
      - name: endDate
        in: query
        required: false
        description: 'Any date up to current date but after startDate. If left blank, only data for startDate will be returned. (format: yyyy-MM-dd).'
        schema:
          $ref: '#/components/schemas/LoadAlbertaInternalLoadGetRequest-1'
      tags:
      - Load
components:
  schemas:
    LoadAlbertaInternalLoadGetRequest-1:
      pattern: ^\d{4}\-(0[1-9]|1[012])\-(0[1-9]|[12][0-9]|3[01])$
      type: string
      x-apim-inline: true
    LoadAlbertaInternalLoadGetRequest:
      pattern: ^\d{4}\-(0[1-9]|1[012])\-(0[1-9]|[12][0-9]|3[01])$
      type: string
      x-apim-inline: true
    ActualForecastAILVO:
      type: object
      properties:
        begin_datetime_utc:
          type: string
        begin_datetime_mpt:
          type: string
        alberta_internal_load:
          type: string
        forecast_alberta_internal_load:
          type: string
    ActualForecastAILReport:
      type: object
      properties:
        Actual Forecast Report:
          type: array
          items:
            $ref: '#/components/schemas/ActualForecastAILVO'
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: API-KEY
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
x-provenance:
  harvestedBy: API Evangelist
  harvestedOn: '2026-07-27'
  sourcePortal: https://developer-apim.aeso.ca/
  method: Assembled verbatim from the AESO Azure API Management developer-portal data API, which is served anonymously. AESO's own OpenAPI export (?export=true&format=openapi) returns a valid document with an EMPTY paths object, so paths, parameters, responses, examples and component schemas were read from the portal's operations/ and schemas/ endpoints and reassembled without alteration. Nothing was invented.
  sources:
  - url: https://developer-apim.aeso.ca/developer/apis/actualforecast-api-v1?api-version=2022-04-01-preview
    status: 200
    note: API metadata
  - url: https://developer-apim.aeso.ca/developer/apis/actualforecast-api-v1?export=true&format=openapi%2Bjson&api-version=2022-04-01-preview
    status: 200
    note: AESO OpenAPI export (empty paths) - basis for info/servers/security
  - url: https://developer-apim.aeso.ca/developer/apis/actualforecast-api-v1/operations?api-version=2022-04-01-preview
    status: 200
    note: operation list
  - url: https://developer-apim.aeso.ca/developer/apis/actualforecast-api-v1/schemas?api-version=2022-04-01-preview
    status: 200
    note: schema list
  - url: https://developer-apim.aeso.ca/developer/apis/actualforecast-api-v1/operations/getActualForecastReport?api-version=2022-04-01-preview
    status: 200
    note: operation detail
  - url: https://developer-apim.aeso.ca/developer/apis/actualforecast-api-v1/schemas/675b1a4d3d594b1e2075ef3d?api-version=2022-04-01-preview
    status: 200
    note: schema document
