openapi: 3.2.0
info:
  title: Metered Volume Report Meteredvolume API
  description: Fetch AIES Metered Volume data
  version: v1
servers:
- url: https://apimgw.aeso.ca/public/meteredvolume-api
- url: https://gateway-apim.aeso.ca/public/meteredvolume-api
security:
- {}
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: Meteredvolume
paths:
  /meteredvolume/details:
    get:
      operationId: getMeteredVolumeReport
      summary: Fetch AIES Metered Volume data
      description: "Fetch AIES Metered Volume for a given date or date range. \n\nIf only the startDate is provided, data will only be provided for that day. \n\n\nOptional parameters asset_ID and pool_participant_ID can be provided to limit the data returned. The asset_ID and pool_participant_ID parameters are comma separated lists. At most, one of the two parameters can be passed in an API call.\n\n\nIf no asset_ID or pool_participant_ID is provided, then the API with fetch data for all assets, which will be limited to 16 days in a single fetch.\n\n\nIf asset_ID or pool_participant_ID is provided, the API with fetch data specific to those parameters. The results will be limited to approximately 100K records in a single fetch. For example, a single asset will return 24 records for 1 day. Please restrict your query accordingly. \n\n"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeteredVolumeReport'
              examples:
                default:
                  value:
                    pool_participant_ID: string
                    asset_list:
                    - asset_ID: string
                      asset_class: string
                      metered_volume_list:
                      - begin_date_utc: string
                        begin_date_mpt: string
                        metered_volume: string
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Invalid method
        '500':
          description: Internal server error
        '503':
          description: Service unavailable
      parameters:
      - name: startDate
        in: query
        required: true
        description: 'Any date between 2000-01-01 and current date (format: yyyy-MM-dd).'
        schema:
          $ref: '#/components/schemas/MeteredvolumeDetailsGetRequest'
      - name: endDate
        in: query
        required: false
        description: 'Any date up to current date but after startDate. If left blank, only data for startDate will be returned (format: yyyy-MM-dd).'
        schema:
          $ref: '#/components/schemas/MeteredvolumeDetailsGetRequest-1'
      - name: asset_ID
        in: query
        required: false
        description: This parameter can contain up to 20 comma-separated Asset IDs.
        schema:
          $ref: '#/components/schemas/MeteredvolumeDetailsGetRequest-2'
      - name: pool_participant_ID
        in: query
        required: false
        description: This parameter can contain up to 20 comma-separated Pool Participant IDs.
        schema:
          $ref: '#/components/schemas/MeteredvolumeDetailsGetRequest-3'
      tags:
      - Meteredvolume
components:
  schemas:
    MeteredvolumeDetailsGetRequest-2:
      type: string
      x-apim-inline: true
    MeteredvolumeDetailsGetRequest-3:
      type: string
      x-apim-inline: true
    MeteredVolumeReport:
      type: object
      properties:
        pool_participant_ID:
          type: string
          description: 'Pool Participant''s unique short name defined by 3 or 4-digit alphanumeric code. A pool participant is a market participant who is registered to transact electric energy. '
        asset_list:
          type: array
          items:
            $ref: '#/components/schemas/AssetList'
    AssetList:
      type: object
      properties:
        asset_ID:
          type: string
          description: Asset's unique short name defined by 3 or 4-digit alphanumeric code. A pool asset is registered to a pool participant.
        asset_class:
          type: string
          description: Asset classification for Sink and Source assets.
        metered_volume_list:
          type: array
          items:
            $ref: '#/components/schemas/MeteredVolumes'
    MeteredvolumeDetailsGetRequest-1:
      pattern: ^\d{4}\-(0[1-9]|1[012])\-(0[1-9]|[12][0-9]|3[01])$
      type: string
      x-apim-inline: true
    MeteredVolumes:
      type: object
      properties:
        begin_date_utc:
          type: string
          description: The begin timestamp of the settlement hour, in UTC.
        begin_date_mpt:
          type: string
          description: The begin timestamp of the settlement hour, in MPT (Mountain Prevailing Time).
        metered_volume:
          type: string
          description: Metered Volume of the asset in the settlement hour (in MW).
    MeteredvolumeDetailsGetRequest:
      pattern: ^\d{4}\-(0[1-9]|1[012])\-(0[1-9]|[12][0-9]|3[01])$
      type: string
      x-apim-inline: true
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: API-KEY
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
x-provenance:
  harvestedBy: API Evangelist
  harvestedOn: '2026-07-27'
  sourcePortal: https://developer-apim.aeso.ca/
  method: Assembled verbatim from the AESO Azure API Management developer-portal data API, which is served anonymously. AESO's own OpenAPI export (?export=true&format=openapi) returns a valid document with an EMPTY paths object, so paths, parameters, responses, examples and component schemas were read from the portal's operations/ and schemas/ endpoints and reassembled without alteration. Nothing was invented.
  sources:
  - url: https://developer-apim.aeso.ca/developer/apis/meteredvolume-api-v1?api-version=2022-04-01-preview
    status: 200
    note: API metadata
  - url: https://developer-apim.aeso.ca/developer/apis/meteredvolume-api-v1?export=true&format=openapi%2Bjson&api-version=2022-04-01-preview
    status: 200
    note: AESO OpenAPI export (empty paths) - basis for info/servers/security
  - url: https://developer-apim.aeso.ca/developer/apis/meteredvolume-api-v1/operations?api-version=2022-04-01-preview
    status: 200
    note: operation list
  - url: https://developer-apim.aeso.ca/developer/apis/meteredvolume-api-v1/schemas?api-version=2022-04-01-preview
    status: 200
    note: schema list
  - url: https://developer-apim.aeso.ca/developer/apis/meteredvolume-api-v1/operations/getMeteredVolumeReport?api-version=2022-04-01-preview
    status: 200
    note: operation detail
  - url: https://developer-apim.aeso.ca/developer/apis/meteredvolume-api-v1/schemas/675b199a3d594b1e2075ef27?api-version=2022-04-01-preview
    status: 200
    note: schema document
