openapi: 3.2.0
info:
  title: Report Operating Reserve Offer Control API
  description: Fetch Operating Reserve Offer Control data
  version: v1
servers:
- url: https://apimgw.aeso.ca/public/operatingreserveoffercontrol-api
- url: https://gateway-apim.aeso.ca/public/operatingreserveoffercontrol-api
security:
- {}
- apiKeyHeader: []
- apiKeyQuery: []
tags:
- name: OperatingReserveOfferControl
paths:
  /operatingReserveOfferControl:
    get:
      operationId: getOperatingReserveOfferControlReport
      summary: Fetch Operating Reserve Offer Control data for a given date that is 60 days prior to current date.
      description: 'Fetch Operating Reserve Offer Control data for Date(startDate (yyyy-MM-dd))


        The Operating Reserve Offer Control data is available 60 days after the date of the report, first available from October 4, 2012.


        '
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperatingReserveOfferControlReport'
              examples:
                default:
                  value:
                    Operating Reserve Trade Merit Order:
                    - begin_datetime_utc: string
                      begin_datetime_mpt: string
                      operating_reserve_blocks:
                      - commodity: string
                        product: string
                        asset_ID: string
                        volume: string
                        active_price: 0
                        premium_price: 0
                        activation_price: 0
                        offer_control: string
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Invalid method
        '500':
          description: Internal server error
        '503':
          description: Service unavailable
      parameters:
      - name: startDate
        in: query
        required: true
        description: 'Any date between 2012-10-04 and current date (format: yyyy-MM-dd).'
        schema:
          $ref: '#/components/schemas/OperatingReserveOfferControlGetRequest'
      tags:
      - OperatingReserveOfferControl
components:
  schemas:
    OperatingReserverOfferControlCoreDataVO:
      type: object
      properties:
        commodity:
          type: string
        product:
          type: string
        asset_ID:
          type: string
        volume:
          type: string
        active_price:
          type: number
          format: double
        premium_price:
          type: number
          format: double
        activation_price:
          type: number
          format: double
        offer_control:
          type: string
    OperatingReserveOfferControlReport:
      type: object
      properties:
        Operating Reserve Trade Merit Order:
          type: array
          items:
            $ref: '#/components/schemas/OperatingReserveOfferControlVO'
    OperatingReserveOfferControlVO:
      type: object
      properties:
        begin_datetime_utc:
          type: string
        begin_datetime_mpt:
          type: string
        operating_reserve_blocks:
          type: array
          items:
            $ref: '#/components/schemas/OperatingReserverOfferControlCoreDataVO'
    OperatingReserveOfferControlGetRequest:
      pattern: ^\d{4}\-(0[1-9]|1[012])\-(0[1-9]|[12][0-9]|3[01])$
      type: string
      x-apim-inline: true
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: API-KEY
      in: header
    apiKeyQuery:
      type: apiKey
      name: subscription-key
      in: query
x-provenance:
  harvestedBy: API Evangelist
  harvestedOn: '2026-07-27'
  sourcePortal: https://developer-apim.aeso.ca/
  method: Assembled verbatim from the AESO Azure API Management developer-portal data API, which is served anonymously. AESO's own OpenAPI export (?export=true&format=openapi) returns a valid document with an EMPTY paths object, so paths, parameters, responses, examples and component schemas were read from the portal's operations/ and schemas/ endpoints and reassembled without alteration. Nothing was invented.
  sources:
  - url: https://developer-apim.aeso.ca/developer/apis/operatingreserveoffercontrol-api-v1?api-version=2022-04-01-preview
    status: 200
    note: API metadata
  - url: https://developer-apim.aeso.ca/developer/apis/operatingreserveoffercontrol-api-v1?export=true&format=openapi%2Bjson&api-version=2022-04-01-preview
    status: 200
    note: AESO OpenAPI export (empty paths) - basis for info/servers/security
  - url: https://developer-apim.aeso.ca/developer/apis/operatingreserveoffercontrol-api-v1/operations?api-version=2022-04-01-preview
    status: 200
    note: operation list
  - url: https://developer-apim.aeso.ca/developer/apis/operatingreserveoffercontrol-api-v1/schemas?api-version=2022-04-01-preview
    status: 200
    note: schema list
  - url: https://developer-apim.aeso.ca/developer/apis/operatingreserveoffercontrol-api-v1/operations/getOperatingReserveOfferControlReport?api-version=2022-04-01-preview
    status: 200
    note: operation detail
  - url: https://developer-apim.aeso.ca/developer/apis/operatingreserveoffercontrol-api-v1/schemas/675b195d445a960634ec1e85?api-version=2022-04-01-preview
    status: 200
    note: schema document
