{
  "openapi": "3.0.1",
  "info": {
    "title": "Pool Participant API",
    "description": "Fetch the latest list of pool participants operating in AIES",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://apimgw.aeso.ca/public/PoolParticipant-api"
    },
    {
      "url": "https://gateway-apim.aeso.ca/public/PoolParticipant-api"
    }
  ],
  "paths": {
    "/poolparticipantlist": {
      "get": {
        "operationId": "getPoolParticipantListData",
        "summary": "Fetch the latest list of pool participants operating in AIES. ",
        "description": "Fetch the latest list of pool participants operating in AIES",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PoolParticipantVO"
                },
                "examples": {
                  "default": {
                    "value": {
                      "pool_participant_name": "string",
                      "pool_participant_ID": "string",
                      "corporate_contact": "string",
                      "agent_list": [
                        {
                          "agent_ID": "string",
                          "agent_name": "string"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "405": {
            "description": "Invalid method"
          },
          "500": {
            "description": "Internal server error"
          },
          "503": {
            "description": "Service unavailable"
          }
        },
        "parameters": [
          {
            "name": "pool_participant_ID",
            "in": "query",
            "required": false,
            "description": "This parameter can contain up to 20 comma-separated Pool Participant IDs.",
            "schema": {
              "$ref": "#/components/schemas/PoolparticipantlistGetRequest"
            }
          },
          {
            "name": "pool_participant_name",
            "in": "query",
            "required": false,
            "description": "All names that contain the provided string will be returned. The search is case-sensitive.",
            "schema": {
              "$ref": "#/components/schemas/PoolparticipantlistGetRequest-1"
            }
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "name": "API-KEY",
        "in": "header"
      },
      "apiKeyQuery": {
        "type": "apiKey",
        "name": "subscription-key",
        "in": "query"
      }
    },
    "schemas": {
      "AgentsInfo": {
        "type": "object",
        "properties": {
          "agent_ID": {
            "type": "string",
            "description": "Unique shortname of the agent company. It is a 3 or 4-digit alphanumeric code."
          },
          "agent_name": {
            "type": "string",
            "description": "Name of the agent company - A representative of a market participant or a pool participant, as the case may be, duly appointed and authorized to act on their behalf. "
          }
        }
      },
      "PoolParticipantVO": {
        "type": "object",
        "properties": {
          "pool_participant_name": {
            "type": "string",
            "description": "Pool Participant_name is the name of the pool participant provided by the pool participant. A pool participant is a market participant who is registered to transact electric energy. "
          },
          "pool_participant_ID": {
            "type": "string",
            "description": "Pool Participant's unique short name defined by 3 or 4-digit alphanumeric code. A pool participant is a market participant who is registered to transact electric energy. "
          },
          "corporate_contact": {
            "type": "string",
            "description": "Corporate contact details of the Pool Participant - address, phone no., fax no. and contact person's name."
          },
          "agent_list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AgentsInfo"
            }
          }
        }
      },
      "PoolparticipantlistGetRequest": {
        "type": "string",
        "x-apim-inline": true
      },
      "PoolparticipantlistGetRequest-1": {
        "type": "string",
        "default": "",
        "x-apim-inline": true
      }
    }
  },
  "security": [
    {},
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "x-provenance": {
    "harvestedBy": "API Evangelist",
    "harvestedOn": "2026-07-27",
    "sourcePortal": "https://developer-apim.aeso.ca/",
    "method": "Assembled verbatim from the AESO Azure API Management developer-portal data API, which is served anonymously. AESO's own OpenAPI export (?export=true&format=openapi) returns a valid document with an EMPTY paths object, so paths, parameters, responses, examples and component schemas were read from the portal's operations/ and schemas/ endpoints and reassembled without alteration. Nothing was invented.",
    "sources": [
      {
        "url": "https://developer-apim.aeso.ca/developer/apis/poolparticipant-api-v1?api-version=2022-04-01-preview",
        "status": 200,
        "note": "API metadata"
      },
      {
        "url": "https://developer-apim.aeso.ca/developer/apis/poolparticipant-api-v1?export=true&format=openapi%2Bjson&api-version=2022-04-01-preview",
        "status": 200,
        "note": "AESO OpenAPI export (empty paths) - basis for info/servers/security"
      },
      {
        "url": "https://developer-apim.aeso.ca/developer/apis/poolparticipant-api-v1/operations?api-version=2022-04-01-preview",
        "status": 200,
        "note": "operation list"
      },
      {
        "url": "https://developer-apim.aeso.ca/developer/apis/poolparticipant-api-v1/schemas?api-version=2022-04-01-preview",
        "status": 200,
        "note": "schema list"
      },
      {
        "url": "https://developer-apim.aeso.ca/developer/apis/poolparticipant-api-v1/operations/getPoolParticipantListData?api-version=2022-04-01-preview",
        "status": 200,
        "note": "operation detail"
      },
      {
        "url": "https://developer-apim.aeso.ca/developer/apis/poolparticipant-api-v1/schemas/675b1904445a960634ec1e7a?api-version=2022-04-01-preview",
        "status": 200,
        "note": "schema document"
      }
    ]
  }
}
